<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body class="hold-transition skin-blue-light sidebar-mini fixed">
  <footer class="main-footer" th:fragment="footer">
  <div class="container">
   <div style="padding:10px 0;">
   <!-- Copyright  &copy;
    <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
    </span>
    SDC, VIT -->
    Copyright &copy; 2019 Software Development Cell (VIT)
</div>
   </div>

    <script src="assets/js/jquery-2.2.3.min.js"></script>
	<!-- <script src="assets/js/jquery.js"></script>
	<script src="assets/js/star-rating.min.js"></script> -->
    <script src="assets/js/jquery-ui.min.js"></script>
    <script src="assets/js/sweetalert.min.js"></script>
	<script src="assets/js/jquery.hotkeys.js"></script>
    <script src="assets/js/jquery.blockUI.js"></script> 
    <script src="assets/js/vit-custom.js"></script>
    <script>
      $(document).bind('keydown', 'alt+right', function(e) {
        e.preventDefault();
      });

      $(document).bind('keydown', 'alt+left', function(e) {
        e.preventDefault();
      });
      history.pushState(null, null, document.URL);
      window.addEventListener('popstate', function() {
        history.pushState(null, null, document.URL);
      });
    </script>
  </footer>

</body>
</html>